@page
@using Packt.Shared;
@inject NorthwindContext db
@{
    string title = "Orders";
    ViewData["Title"] = $"9Health - {title}";
}
<div class="row">
    <h1 class="display-2">@title</h1>
    <p>
        There are @db.Orders.Count() orders in the 9Health database.
    </p>
</div>